project:
  type: website

website:
  title: "*ğ˜”ğ˜ªğ˜¤ğ˜³ğ˜°ğ˜µğ˜¶ğ˜´ ğ˜¢ğ˜³ğ˜·ğ˜¢ğ˜­ğ˜ªğ˜´* Project"
  navbar:
    left:
      - href: map.qmd
        text: Sample map

format:
  html:
    page-layout: full
    code-fold: true
    code-summary: "Show the code"
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual
